.yugioh-set-picker {
    display: block;
    justify-content: center;
    border: 3px solid black;
    max-width: 300px;
    max-height: 300px;
    min-height: 200px;
    min-width: 200px;
    position: relative;
    text-align: center;
}

.yugioh-set-picker-img {
    height: 200px;
    width: 200px;
}

/* .yugio-set-picker-child {
    height: 200px;
    width: 200px;
} */

.set-img-desc {
    display: block;
    background-color: black;
    color: white;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
}

.set-selected-count, .set-decrement-count {
    height: 10%;
    width: 10%;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    opacity: 0.9;
}

.set-selected-count {
    background-color: green;
    top: 0%;
    left: 100%;
}


.set-decrement-count {
    background-color: red;
    position: absolute;
    top: 85%;
    left: 100%;
}

.set-img-desc > p {
    vertical-align: middle;
    margin-top: 25%;
}

.yugioh-set-picker:hover .set-img-desc {
    visibility: visible;
    opacity: 0.75;
}